<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Librería</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark mb-4 p-3">
  <a class="navbar-brand" href="/">Libros</a>
  <a href="/login" class="btn btn-light">Login</a>
  <a href="/logout" class="btn btn-danger">Salir</a>
</nav>

<div class="container">
  {{{ body }}}
</div>

</body>
</html>