<h2>Registro</h2>

<form method="POST" action="/register">
  <input class="form-control" name="username" placeholder="Usuario">
  <input class="form-control mt-2" name="password" type="password" placeholder="Contraseña">
  <button class="btn btn-success mt-3">Registrar</button>
</form>
